{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Magani Artwork</title>
</head>
<body>
<a href="{% url 'base:gallery' %}">
    <button class="yellow-button" style="align-self: center; justify-self: center">
        &#x2190;&nbspContinue Exploring
    </button>
</a>
  <div class="view-container" style="height: 500px; display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr 1fr 1fr;">
    <div class="left-panel" style="grid-column: 1 / 3; grid-row: 1 / -1; align-self: center; justify-self: center;">
      <img src="{{ artwork.image_url }}" alt="Magani Artwork" class="artwork" style="height: 350px;border-top: 1px solid #333333; box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);">
      <div class="arrow arrow-left">&lt;</div>
      <div class="arrow arrow-right">&gt;</div>
    </div>
    <div class="right-panel" style="grid-column: 3 / 5; grid-row: 1 / -1; background-color: #383838; padding: 20px; border-radius: 20px; align-self: center; justify-content: center; height: 100%">
        <div class="profile" style="display: flex;">
          <img src="{{ artwork.user.profile_url }}" alt="Profile Picture" class="profile-picture" style="height: 50px; margin-right: 10px;">
          <div class="profile-info">
            <p class="profile-name" style="color: #FFFFFF; font-weight: 700">{{ artwork.user.first_name }} {{ artwork.user.last_name }}</p>
              <p style="font-weight: 400; font-size: small; margin-top: -20px">@{{ artwork.user.username }}</p>
          </div>
        </div>
      <h1 class="title" style="text-align: center; font-size: 40px; color: #FFFFFF">{{ artwork.artName }}</h1>
        <hr style="border-color: white; border-width: 3px">
      <p class="description" style="height: 100px">
        {{ artwork.description }}
      </p>
        <hr style="border-color: white; border-width: 3px">
      <div class="social-stats" style="color: #FFFFFF; align-items: center; justify-content: space-evenly">
        <span class="likes">💧 228K</span>
        <span class="comments">💬 28K</span>
      </div>
        <hr style="border-color: white; border-width: 3px">
        <div class="container" style="color: white">
            {% if not artwork.comments.all %}
                No comments yet... <a href='#'>
                Comment</a>
            {% else %}
                    {% for comment in artwork.comments.all %}
                        <strong>
                            {{ comment.name }} -
                            {{ comment.date_added }}
                        </strong>
                    {% endfor %}
            {% endif %}
        </div>
    </div>
  </div>
</body>
</html>

{% endblock content %}
