{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <div class="shadow-wrap">
        <div class="form-wrap">
            <img class="logo-container" src="{% static 'resources/Logo.png' %}" style="height: 150px;">
            <h3 style="color: #FFFFFF; align-self: center; justify-self: center; font-weight: 900; font-size: 50px">Reset Password</h3>
            <hr>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
                    {{ form.old_password }}
                </div>
                <div class="form-group">
                    <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                    {{ form.new_password1 }}
                </div>
                <div class="form-group">
                    <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                    {{ form.new_password2 }}
                </div>
                <br>
                <button class="yellow-button" type="submit" name="change_password">CHANGE PASSWORD</button>
            </form>
            {% if messages %}
                <script>
                  {% for message in messages %}
                    Swal.fire({
                      title: "{{ message.tags|title }}",  // "Success" or "Error"
                      text: "{{ message }}",
                      icon: "{% if message.tags == 'error' %}error{% else %}success{% endif %}",
                      confirmButtonText: 'OK',
                      confirmButtonColor: '#ffc107',
                      customClass: 'swal-background'
                    });
                  {% endfor %}
                </script>
            {% endif %}
        </div>
    </div>
{% endblock %}