{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Honeycomb</title>
        <link rel="stylesheet" href="css/admin-styles.css">
    </head>
    <body>
        <!-- CONTENT -->
        <div class="content-section">
            <!-- profile header -->
            <div class="media">
                <!-- user.profile.image.url -->
                 <!-- image will not show yet in my version: ana -->
                <img class="rounded-circle account-img" src="{{ user.image.url }}" alt="profile-img"> 
                <div class="media-body">
                    <h2 id="account-heading">{{ user.username }}</h2>
                    <p id="heading-2"></p>
                </div>
            </div>

            <!-- for the art board -->
            <main>
                <div class="art-board">
                    <div class="pin-board-left">
                        <h1>HONEYCOMB</h1>
                        <!-- styles will be in bootstrap para tab form siya -->
                        <ul class="breadcrumb">
                            <li>
                                <a href="{% url 'honeycomb' %}">Honey Pin</a>
                            </li>
                            <li><i class='bx bx-hive'></i></li>
                            <li>
                                <a href="{% url 'orderTrack' %}">Orders</a>
                            </li>
                            <li><i class='bx bx-package' ></i></li>
                        </ul>
                    </div>
                </div>
            </main>
        </div>
        <!-- PROFILE SIDE BAR -->
         <!-- same function and design as admin profile: bottom side sidebar -->
        <section id="sidebar">
            <ul class="side-menu">
                <li>
                    <a href="{% url 'profileSettings' %}">
                        <i class='bx bxs-cog'></i>
                        <span class="text">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="logout">
                        <i class='bx bxs-door-open' ></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
        </section>
    </body>
</html>
{% endblock content %}