{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

<div class="row">
    {% for product in products %}
    <div class="col-lg-4" style="display: flex; align-items: center; justify-content: space-between; height: 200px">
        <img class="thumbnail" src="{{product.image_url}}" style="width: 150px; height: 200px; align-self: center; justify-self: center;">
        <div class="box-element product" style="height: 200px">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
            <h4 style="display: inline-block;"><strong>Php{{product.price|floatformat:2}}</strong></h4>
            <button style="margin: 10px" data-product="{{product.id}}" data-action="add" class="yellow-button add-btn update-cart">Add to Cart</button>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}