{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
    <div class="listing-header">
        <h1 style="font-weight: 900; text-align: center; padding-top: 10px">Add Buzz Listings.</h1>
    </div>
    <div class="form-container">
        <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.non_field_errors }}
        <div class="glow-container">
            {{ form.name }}
        </div>
        <div class="glow-container">
            {{ form.price }}
        </div>
        <div class="glow-container">
            {{ form.description }}
        </div>
        <div class="glow-container">
            {{ form.image }}
        </div>
        <br>
        <div class="text-center">
            <button type="submit" class="yellow-button" style="width: 75%">Add Listing</button>
        </div>
    </form>
    </div>

{% endblock content %}