{% extends 'shop/main.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
<div class="view-product">
    <p>Product ID: {{ product.id }}</p><br>
    <p>Product maker: {{ product.user.username }}</p><br>
    <p>Product name: {{ product.name }}</p><br>
    <p>Product price: {{ product.price }}</p><br>
    <p>Product isDigital: {{ product.digital }}</p><br>
    <img src="/artmedia/{{ product.image }}">
</div>


{% endblock content %}